<div class="panel panel-info ">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3><%= @post.heading %></h3>
            </div>
        </div>

        <h2><%= t(@post.status, :scope => "post.status") %></h2>

    </div>
    <div class="panel-body">

      <p>
        <%= simple_format(@post.content) %>
      </p>

    </div>

</div>
